<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <main>
        <form method="post" >
            <h1>Registration Form</h1>
            <p>User has not registered. Please register here and try again!</p>
            <input type="text" name="name" placeholder="Enter Name"/>
            <input type="email" name="email" placeholder="Enter email"/>
            <input type="password" name="password" placeholder="Enter password"/>
            <button type="submit" >Sign Up</button>
        </form>
    </main>
</body>
</html>